
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistema</title>
</head>
<body class="container">
   <h1>Bem vindo ao sistema</h1>
    <hr/>

    @RenderBody()
</body>
</html>
